.collection-item {
    width: 20.5vw;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    padding: 10px;
    position: relative;

    .desciption{
      width: 20.5vw;  
    }

    .custom-button{
      width:15vw;
      opacity: 0.7;
      position: absolute;
      top:200px;
      display: none;
    }

    &:hover{
      .image{
      opacity: 0.8;
      }
      .custom-button{
        opacity: 0.85;
        display: flex;
      }
    }
  
    .image {
      width: 20vw;
      height: 20vw;
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
    }
  
    .collection-footer {
      width: 20vw;
      height: 5%;
      display: flex;
      justify-content: space-between;
      font-size: 18px;
      padding: 10px;
  
      .name { 
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
      
    }
    
  }
  